---
services:
  plex:
    image: linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - plexConfigVol:/config
      - /mnt/software/TVShows:/tv
      - /mnt/movies:/movies
    restart: unless-stopped

volumes:
  plexConfigVol:
