version: "3"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: host
    environment:
      TZ: 'American/Indiana/Indianapolis'
      WEBPASSWORD: ''
    volumes:
      - piholeVol:/etc/pihole
      - dnsmasqVol:/etc/dnsmasq.d
    cap_add:
      - NEW_ADMIN
    restart: unless-stopped

volumes:
  piholeVol:
  dnsmasqVol:
