global
    log stdout format raw local0
    log /var/log/haproxy/haproxy.log local0
    stats socket /var/run/haproxy.sock mode 666 level admin
    user root

defaults
    log     global
    mode    http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:443 ssl crt /usr/local/etc/haproxy/certs/lb.pem
    # Optional: force HTTP -> HTTPS redirect
    bind *:80
    redirect scheme https code 301 if !{ ssl_fc }
    default_backend web_servers

backend web_servers
    balance roundrobin
    # uncomment the below line if you want to use sticky sessions
    # cookie SRVID insert indirect nocache
    # If using Docker networks, you can route directly to container names
    server web_app_1 web-node1:443 check check-ssl verify none ssl init-addr last,libc,none
    server web_app_2 web-node2:443 check check-ssl verify none ssl init-addr last,libc,none
